{
  "extends": "airbnb",
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-shadow": "off", 
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "no-unused-vars": "off",
    "max-len":"off",
    "no-alert": "off",
    "no-nested-ternary": "off",
    no-return-assign: ["error", "always"],
    "prefer-rest-params": "off",
    "camelcase": "off",
    "no-throw-literal": "off",
    "no-restricted-syntax": "off",
    "func-names": "off",
    "consistent-return": "off",
    "new-cap": "off"
  }
}