{
  "extends": "airbnb",
  "rules": {
    "no-nested-ternary": "off",
    "prefer-rest-params": "off",
    "no-throw-literal": "off",
    "no-use-before-define": "off",
    "no-new-func": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "no-console": "off",
    "func-names": "off",
    "consistent-return": "off",
    "new-cap": "off",
    "no-underscore-dangle": "off",
    "no-loop-func": "off",
    "no-shadow": "off",
    "no-unused-vars": "off",
    "no-return-assign": "off",
    "max-len":"off",
    "default-case": "off",
    "no-sequences": "off",
    "no-unused-expressions": "off",
    "no-alert": "off",
    "camelcase": "off"
  }
}